<div class="container-fluid">
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Profil Ayarları</h4>
        {{#or success_message validation_error}}
        {{#if success_message}}
        {{> _alert type="success" messagesArray=success_message}}
        {{/if}}
        {{#if validation_error}}
        {{> _alert type="danger" messagesArray=validation_error}}
        {{/if}}
        {{/or}}
        <form action="/admin/profile" method="POST" enctype="multipart/form-data">
            <div class="d-flex align-items-start"> <img src="/uploads/avatars/{{user.avatar}}" class="img" alt="">
                <div class="pl-sm-4 pl-2" id="img-section"> <b>Profil Fotoğrafı</b>
                    <p> Sadece .png ve .jpeg formatı kabul edilmektedir.</p>
                </div>
            </div>
            <input class="form-control form-control-sm mb-3 col-md-6 mt-3 p-0 border-0" type="file" name="avatar">
            <div class="py-2">
                <div class="row py-2 border-top">
                    <div class="col-md-6"> <label for="firstname">Ad</label> <input type="text"
                            class="bg-light form-control" name="firstName"
                            value="{{#if firstName}}{{firstName}}{{else}}{{user.firstName}}{{/if}}"
                            placeholder="Adınız"> </div>
                    <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Soyad</label> <input type="text"
                            class="bg-light form-control" name="lastName"
                            value="{{#if lastName}}{{lastName}}{{else}}{{user.lastName}}{{/if}}"
                            placeholder="Soyadınız"> </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6 offset-md-3"> <label for="email">Email Adresi</label> <input type="text"
                            class="bg-light form-control" value="{{user.email}}" placeholder="Email adresiniz" readonly>
                    </div>
                </div>
                <div class="py-3 pb-4"> <button type="submit"
                        class="btn btn-block btn-primary mr-3">Değişiklikleri
                        Kaydet</button>
                </div>
            </div>
        </form>

    </div>
</div>